

/* Cognitive switching */
.center-fit {
    width:70%;
    height:auto;
    overflow:hidden;
    display:block;
    margin: auto;
}

.switch_instr {
    font-size: 26px;
}

.cogswitch_feedback {
    font-size: 36px;
}

/* Stimulus */
.outer-container {
    border: 2px solid black;
    height: 500px;
    width: 300px;
}

.top-section {
    height: 10%;
    margin: 8px;
    text-align: center;
    font-size: 72px;
}

.bottom-section {
    text-align: center;
    height: 10%;
    margin: 8px;
    font-size: 72px;
}

.bottom-aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 3px;
}

.bottom-content {
    display: inline-block;
}


.middle-section {
    width: 6px;
    height: 50%;
    background-color: #868181;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px 0 50px 150px;
}

.circle {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -12px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: #646262;
    border: solid 2px #ffffff;
    border-radius: 50%;
}

/* Affective switching */
.affstim {
    width:50%;
    vertical-align: middle;
}

.middle_fix {
    font-size: 72px;
    height: 20%;
    position: relative;

}

.aff_fix {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}